body {
    color: #333;
    font-family: sans-serif;
    box-sizing: border-box;
}

h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 35px;
}

form {
    width: 80%;
    margin: 30px auto;
    background: #555;
    padding: 15px 15px 8px 15px;
    border-radius: 10px;

    /* display: flex;
    flex-direction: column; */
}

input {
    display: block;
    width: 100%;
    margin: 9px auto;
    padding: 6px;
    box-sizing: border-box;
    /* border: none; */
    background: #333;
    color: #fff;
    /* background: transparent; */
}
input:hover {
    background: #444;
}

#btn-enviar {
    margin-top: 20px;
    padding: 9px;
    border-radius: 10px;
    background-color: #381;
    margin-bottom: 0;
    color: #222;
}
#btn-enviar:hover {
    background: #370;
}

.resultado {
    font-weight: 700;
    /* font-size: 17px; */
}

.green {
    color: #9c9;
}

.red {
    color: #c55;
}